body {
    /* background-color: #3923b6 */
}

#canvas {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#record {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50px;

}

#timer {
    font-size: 2em;
}

#score {
    font-size: 2em;
}

#high-score {}